.header__links {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
/* リンク同士に余白を作る、CSSを使用して各リンクにマージンを追加 */
.header__links a{
    margin-right: 20px; /* 右側に20pxの余白を追加 */
}


.header__links form {
    display: inline-block;

}
/* ログアウトボタン */
.logout-button {
    padding: 1px; /* ボタンの内側の余白を調整 */
    font-size: 14px; /* ボタンのテキストサイズを調整 */
    border: none; /* ボタンの枠をなくす */
    background-color: transparent; /* ボタンの背景を透明にする */
}

.header__links a:last-child, .header__links form:last-child  {
    margin-right: 0; /* 最後のリンクには右側の余白を追加しない */
}

.header__wrap {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
}

.date__change-button {
    padding: 0 15px;
    font-size: 20px;
    color: blue;
    border: 1px solid blue;
    background-color: white;
}


.table__wrap {
    display: flex;/* フレックスコンテナとして扱う　フレックスコンテナ内の子要素は、フレックスアイテムとなる */
    flex-wrap: wrap;/*レックスアイテムがコンテナの幅を超えた場合に、アイテムを次の行に折り返す  */
    justify-content: space-between;
    width: 80%;/*  親要素の幅の80%*/
    margin: auto;/* この要素の上下左右のマージンを自動的に設定します。これにより、要素が親要素の中央に配置 */
}

.attendance__table {
    width: 100%;
}
.table__header,
.table__item {
    width: 20%;
    text-align: left;
    padding-left: 5%;
    height: 80px;
    border-top: 1px 
}